.card {
    width: 25%; 
    height: 470px;
    border-radius: 5px;
    box-shadow: 1px 1px 25px 1px;
}

.card_text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}

.card_text p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
}
.card img{
width: 100%;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
